<!DOCTYPE html>
<html>
<head>
    <title>Student Login</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="header">
    <img src="/static/atria_logo.png">
</div>

<div class="card">
    <h2>Student Seating Lookup</h2>
    <div class="sub-title">Semester Examination</div>

    <form action="/dashboard" method="post">
        <label>Enter USN</label>
        <input type="text" name="usn" required>

        <button type="submit">View Seat</button>
    </form>
</div>

<div class="footer">
    Best of luck for your examination!
</div>

</body>
</html>
